<a href="https://colab.research.google.com/github/sasaki-akaso270/AtCoder_practice/blob/main/AtCoderABC188.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#AtCoder ABC 188 A問題
x , y = map(int, input().split())
m = min(x,y)
M = max(x,y)
if m+3 > M:
  print("Yes")
else:
  print("No")

12 15
No

In [ ]:
#AtCoder ABC 188 B問題
n = int(input())
A = list(map(int, input().split()))
B = list(map(int, input().split()))
res = 0
for i in range(n):
  res = res + A[i] * B[i]
if res != 0:
  print("No")
else:
  print("Yes")

3
1 3 5
3 -6 3
Yes

In [ ]:
#AtCoder ABC 188 C問題
n = int(input())
A = list(map(int, input().split()))
A1 = A[:2**(n-1)]
A2 = A[2**(n-1):]
ind1 = A1.index(max(A1))
ind2 = A2.index(max(A2))

if A1[ind1] > A2[ind2]:
  print(ind2 + 2**(n-1) + 1)
else:
  print(ind1+1)

4
6 13 12 5 3 7 10 11 16 9 8 15 2 1 14 4
2

In [ ]:
#AtCoder ABC 188 D問題
import pandas as pd

n , c  = map(int, input().split())
data = []
for i in range(n):
  data.append(list(map(int, input().split())))
df = pd.DataFrame(data, columns=["A", "B", "Cost"])
tmp = df["A"].min()
df["A"] = df["A"] - tmp
df["B"] = df["B"] - tmp
df.sort_values("A")

3 4
3 5 1
6 7 3
4 13 7

   A   B  Cost
0  0   2     1
1  3   4     3
2  1  10     7

In [ ]:
#AtCoder ABC 188 F問題
x ,y = map(int, input().split())
if x == y:
  print(0)
res = 0
while x == y:
  res = res + 1
  
  t1 = y % x
  if y % x

   A   B  Cost
1  2   4     5
0  1  32     4